/Makefile.am
/alloca.in.h
/btowc.c
/config.charset
/errno.in.h
/fseek.c
/fseeko.c
/fstat.c
/getdelim.c
/getline.c
/getpass.c
/getpass.h
/gettext.h
/langinfo.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/lseek.c
/malloc.c
/mbrtowc.c
/mbsinit.c
/mbtowc-impl.h
/mbtowc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo.c
/realloc.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rpmatch.c
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-impl.h
/stdio.in.h
/stdlib.in.h
/strdup.c
/streq.h
/string.in.h
/sys_stat.in.h
/sys_types.in.h
/time.in.h
/unistd.c
/unistd.in.h
/verify.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
/wctype.in.h
/yesno.c
/yesno.h
